---
layout: layouts/base.njk
templateClass: tmpl-about
tags:
  - nav
  - topNav
navtitle: About
permalink: about/index.html
---

<p><a href="{{ '/' | url }}">← Home</a></p>

<article>
  <h1 class="screenreader-only">{{ aboutPage.title }}</h1>

  {% if aboutPage.mainImageUrl %}
    <figure class="hero">
      <img src="{{ aboutPage.mainImageUrl }}" alt="{{ aboutPage.title }}">
    </figure>
  {% endif %}

  {% if aboutPage.deck %}
    <h2 class="deck">{{ aboutPage.deck }}</h2>
  {% endif %}

  {% if aboutPage.bio %}
    {{ aboutPage.bio | markdownify | safe }}
  {% endif %}

  
</article>
