---
layout: layouts/base.njk
templateClass: tmpl-biolinks
tags:
  - nav
navtitle: Biolinks
permalink: biolinks/index.html
---

<article>

<div class="biolinks-content">
  {% if biolinksPage.mainImageUrl %}
    <img class="biolinks-image" src="{{ biolinksPage.mainImageUrl }}" alt="{{ biolinksPage.title }}">
  {% endif %}

  <h1 class="biolinks-title">{{ biolinksPage.title }}</h1>

  {% if biolinksPage.biolinks %}
    <div class="biolinks-list">
      {% for link in biolinksPage.biolinks %}
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="biolinks-card">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="biolinks-contact">
        <p>
          <span class="biolinks-contact-label">Contact Simona</span>: 
          <a href="mailto:{{ siteSettings.contact }}" class="biolinks-contact-email">{{ siteSettings.contact }}</a>
        </p>
  </div>
</div>

</article>
