---
pagination:
  data: exhibits
  size: 1
  alias: exhibit
permalink: "exhibits/{{ exhibit.slug }}/"
layout: layouts/base.njk
templateClass: tmpl-exhibit
---

<p><a href="{{ '/exhibits/' | url }}">← All Exhibits</a></p>

<article>
  <h1>{{ exhibit.title }}</h1>

  {% if exhibit.venue or exhibit.location %}
  <p>
    {% if exhibit.venue %}<strong>{{ exhibit.venue }}</strong>{% endif %}
    {% if exhibit.venue and exhibit.location %} | {% endif %}
    {% if exhibit.location %}{{ exhibit.location }}{% endif %}
    {% if exhibit.description %} | {{ exhibit.description }} {% endif %}
    {% if exhibit.photoCredit %} | Photography: {{ exhibit.photoCredit }}{% endif %}
  </p>
  {% endif %}

  {% if exhibit.images %}
    <section class="carousel carousel--scroll-buttons">
      {% for image in exhibit.images %}
        <figure class="carousel__slide" data-label="Slide {{ loop.index }}">
          {% if image.asset %}
            {% set imageUrl = metadata.imageUrl(image, 1200) %}
            <img src="{{ imageUrl }}" alt="{{ image.alt or exhibit.title }}" {% if loop.first %}style="view-transition-name: exhibit-{{ exhibit.slug }};"{% endif %}>
            {% if image.caption %}
              <figcaption>{{ image.caption }}</figcaption>
            {% endif %}
          {% endif %}
        </figure>
      {% endfor %}
    </section>
  {% endif %}

</article>
