---
layout: layouts/base.njk
templateClass: tmpl-in-motion-list
tags:
  - nav
  - topNav
navtitle: In Motion
navOrder: 2
permalink: in-motion/index.html
---

<article>
  <h1>In Motion</h1>

  {% if inMotion.length > 0 %}
    <ul class="exhibits-grid">
      {% for item in inMotion %}
        <li>
          <div>
            {% if item.previewImageUrl %}
              <a href="/in-motion/{{ item.slug }}/">
                <img src="{{ item.previewImageUrl }}" alt="{{ item.title }}" style="view-transition-name: in-motion-{{ item.slug }};">
              </a>
            {% endif %}
            <h2 class="item-title">
              <a href="/in-motion/{{ item.slug }}/">{{ item.title }}</a>
            </h2>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</article>
