---
layout: layouts/home.njk
---

<div class="hero-video-wrapper">
  {% if homePage.posterImageUrl %}
    <img class="hero-video-poster" src="{{ homePage.posterImageUrl }}" alt="">
  {% endif %}
  
  {% if homePage.videoUrl %}
    {% set videoId = homePage.videoUrl | replace("https://vimeo.com/", "") | replace("https://player.vimeo.com/video/", "") %}
    <iframe 
      class="hero-video" 
      src="https://player.vimeo.com/video/{{ videoId }}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1"
      frameborder="0" 
      allow="autoplay; fullscreen; picture-in-picture" 
      allowfullscreen
    ></iframe>
  {% endif %}
</div>

<article class="home-content">
  <h2>Exhibitions</h2>
  {% if exhibits.length > 0 %}
    <ul class="exhibits-grid">
      {% for exhibit in exhibits %}
        <li>
          <div>
            {% if exhibit.previewImageUrl %}
              <a href="/exhibits/{{ exhibit.slug }}/">
                <img src="{{ exhibit.previewImageUrl }}" alt="{{ exhibit.title }}" style="view-transition-name: exhibit-{{ exhibit.slug }};">
              </a>
            {% endif %}
            <h2 class="item-title">
              <a href="/exhibits/{{ exhibit.slug }}/">{{ exhibit.title }}</a>
            </h2>
          </div>
        </li>{% endfor %}
    </ul>
  {% endif %}
</article>
