---
layout: layouts/home.njk
---

<div class="hero-video-wrapper">
  {% if homePage.posterImageUrl %}
    <img class="hero-video-poster" src="{{ homePage.posterImageUrl }}" alt="">
  {% endif %}
  
  {% if homePage.videoUrl %}
    {% set videoId = homePage.videoUrl | replace("https://vimeo.com/", "") | replace("https://player.vimeo.com/video/", "") %}
    <iframe 
      class="hero-video" 
      src="https://player.vimeo.com/video/{{ videoId }}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1"
      frameborder="0" 
      allow="autoplay; fullscreen; picture-in-picture" 
      allowfullscreen
    ></iframe>
  {% endif %}
</div>
